/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2019, 5:22:33 PM
    Author     : dany
*/
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

.background {
    -fx-background-color: white;
}

.btnAlerta {
    -fx-background-color: #1565c0; 
    -fx-text-fill: #FFFFFF;
}

.aceptar {
    -fx-border-color: #77B530; 
    -fx-border-radius: 50; 
    -fx-border-width: 2; 
    -fx-text-fill: #77B530;
    -fx-background-radius: 50;
}

.cancelar {
    -fx-border-color: #F5253E; 
    -fx-border-radius: 50; 
    -fx-border-width: 2; 
    -fx-text-fill: #F5253E;
    -fx-background-radius: 50;
}

.administrarCliente {
    -fx-text-fill: #ffffff;
    -fx-font-size: 100pt;
    -fx-font-weight: bold;
    -fx-font-family: Futura;
}

.ruta {
    -fx-font-family: 'Fira Code', monospace;
    -fx-text-fill:#ffffff;
    -fx-font-size:10pt;
}

.panelSuperior {
    -fx-background-color: #003c8f;
}

.mensaje {
    -fx-font-size: 10pt;
    -fx-font-family: Futura;
}

.panelCliente {
    -fx-background-color: #1F54B7;
}

.botonesDrawer {
    -fx-font-family: Futura;
    -fx-font-size: 10pt;
    -fx-font-weight: medium;
}

.label {
    -fx-font-family: Futura;
    -fx-font-size: 14pt;
}

.agregar {
    
    -fx-background-radius: 1000;
    -fx-border-radius: 1000;
}

.barraBusqueda {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 30;
    -fx-border-width: 5;
    -fx-background-radius: 5;
}

.panelBusqueda {
    -fx-background-color: #003c8f;
}

.botonVer {
    -fx-background-color: #003c8f; 
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-family: Futura;
}

.TextField {
    -fx-font-family: Futura;
}

.Buscar {
    -fx-font-family: Futura;
    -fx-font-size: 11pt;
}

.logo {
    -fx-font-family: Futura;
    -fx-text-fill: #424242;
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
}

.iniciarSesion {
    -fx-background-color: linear-gradient(to right, #0C6BC7, #053995);
    -fx-text-fill: white;
    -fx-font-size: 16pt;
    -fx-font-family: Futura;
}

.jfx-date-picker .month-year-pane {
    -fx-background-color: #003c8f;
    -fx-font-family: Futura;
}

.jfx-date-picker .jfx-button{ 
    -fx-background-color: #003c8f; 
}

.jfx-hamburger StackPane {
    -fx-background-color: white;
}